
#wrapper{
    width:102%;
    height:600px;
    background-color:#dddddd;
    float:left;
    margin:-1% 0% 0% -1%;
 }
 
 
 header{
    background-color:black;
    width:100%;
    height:20%;
    float:left;
    margin:0%;
    /*background-image: url("/images/cubic.jpg");*/
 
 }
 
 h1{
   color:#ffffff;
   float:left;
   font-size:400%;
   margin:2% 0% 0% 3%;
   font-family:'Times New Roman', Times, serif;
 }
 
 .home, .veiligheid, .galerij, .videos, .contact {
    margin-left: 0%;
    margin-right:0%;
    float:right;
    height:40%;
    width:13%;
    background-color: transparent;
    margin-top:5.25%;
    font-family:"Times New Roman";
    font-weight:bolder;
    font-size:175%;
    text-align:center;
    color:#ffffff;
    text-decoration:none;
 
 }
 
 .home:hover, .veiligheid:hover, .galerij:hover, .videos:hover, .contact:hover{
    background-color:transparent;
    cursor:pointer;
 }
 
 
 .klok{
    float:right;;
    margin: 1% -63% 0% 0%;
 }
 
 .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 90%;
    padding: 1% 1% 3% 4%;
    z-index: 1;
    text-align:left;
    font-size:90%;
    padding-top: 2%;
  }
 
  .home .dropdown-content{
   width: 75%;
   margin: 9% 0% 0% 22%;
  }
 
  .veiligheid .dropdown-content{
   width:175%;
   margin: 9% 0% 0% 10%;
  }
 
  .galerij .dropdown-content{
   width: 70%;
   margin: 9% 0% 0% 12%;
  }
 
  .videos .dropdown-content{
   width:70%;
   margin: 9% 0% 0% 12%;
  }
 
  .contact .dropdown-content{
   width:75%;
   margin: 9% 0% 0% 10%;
  }
 
 .driehoek{
  display: none;
   position: absolute;
   z-index: 1;
 }
 
  .dropdown-content a {
    text-decoration: none;
    color:#000000;
  }
  
    .dropdown:hover .dropdown-content, .dropdown:hover .driehoek {
    display: block;
  }
 
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7%;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 
  
  .driehoek {
     width: 0;
     height: 0;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
     border-bottom: 20px solid #ffffff;
 }
 
 .home .driehoek{
   margin:2% 0% 0% 28%;
 }
 
 .veiligheid .driehoek{
   margin:2% 0% 0% 15%;
 }
 
 .galerij .driehoek{
   margin:2% 0% 0% 22%;
 }
 
 .videos .driehoek{
   margin:2% 0% 0% 22%;
 }
 
 .contact .driehoek{
   margin:2% 0% 0% 20%;
 }
 
 .iframeblocker{
   background-color:transparent;
   width:8%;
   height:31%;
   float:right;
   margin: 1% -63% 0% 0%;
 }