#wrapper{
   border:10px;
   border-color:black;
   width:200px;
   background-color:red;
   float:left;
}


header{
   border:1px;
   border-color:blue;
   width:100px;
   height:100px;
}

div{
   border:1px;
   border-color:red;
}