
#wrapper{
   width:96%;
   height:800px;
   background-color:#dddddd;
   float:left;
   margin:2%;
}


header{
   background-color:blueviolet;
   width:94%;
   height:15%;
   float:left;
   margin:2%;
   background-image: url("/images/cubic.jpg");

}

header div{
   margin-left:calc(17.5% / 7);
   margin-right:calc(17.5% / 7);
   float:left;
   height:10px;
   width:15%;
   background-color: #4FF392;
   vertical-align:bottom;
}

.klok{
   float:right;
}