
#wrapper{
   width:96%;
   height:800px;
   background-color:#dddddd;
   float:left;
   margin:2%;
}


header{
   background-color:blueviolet;
   width:94%;
   height:15%;
   float:left;
   margin:2%;
   background-image: url("/images/cubic.jpg");

}

header div{
   margin-left:calc(17.5% / 7);
   margin-right:calc(17.5% / 7);
   float:left;
   height:30%;
   width:15%;
   background-color: #f0fce3;
   margin-top:6%;
   font-family:Times New Roman;
   font-weight:bolder;
   font-size:175%;
   text-align:center;
   font-style:italic;
   color:#000000;

}

.klok{
   float:right;
   margin-top:-8%;
}