
#wrapper{
  width:101.6%;
  height:121px;
  background-color:#dddddd;
  float:left;
  margin:-1% 0% 0% -1%;
}


header{
  background-color:black;
  width:100%;
  height:121px;
  float:left;
  margin:0%;
  position: fixed;
  top:0;
  z-index:5;
}

header h1{
 color:#ffffff;
 float:left;
 font-size:400%;
 margin:30px 0% 0% 3%;
 font-family:'Times New Roman', Times, serif;
}

.home, .veiligheid, .galerij, .videos, .contact {
  margin-left: 0%;
  margin-right:0%;
  float:right;
  height:40%;
  width:13%;
  background-color: transparent;
  margin-top: 72px;
  font-family:"Times New Roman";
  font-weight:bolder;
  font-size:175%;
  text-align:center;
  color:#ffffff;
  text-decoration:none;

}

.home:hover, .veiligheid:hover, .galerij:hover, .videos:hover, .contact:hover{
  background-color:transparent;
  cursor:pointer;
}


.klok{
  float:right;
  margin: 1% -63% 0% 0%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 90%;
  padding: 1% 1% 3% 4%;
  z-index: 1;
  text-align:left;
  font-size:90%;
  padding-top: 2%;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0) , 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.home .dropdown-content{
 width: 75%;
 margin: 16px 0% 0% 22%;
}

.veiligheid .dropdown-content{
 width:175%;
 margin: 16px 0% 0% 10%;
}

.galerij .dropdown-content{
 width: 70%;
 margin: 16px 0% 0% 12%;
}

.videos .dropdown-content{
 width:130%;
 margin: 16px 0% 0% 12%;
}

.contact .dropdown-content{
 width:75%;
 margin: 16px 0% 0% 10%;
}

.driehoek{
display: none;
 position: absolute;
 z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color:#000000;
}

  .dropdown:hover .dropdown-content, .dropdown:hover .driehoek {
  display: block;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 7%;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom left;
  transition: transform 1s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.driehoek {
 width: 0;
 height: 0;
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;
 border-bottom: 20px solid #ffffff;
}

.home .driehoek{
 margin:2% 0% 0% 28%;
}

.veiligheid .driehoek{
 margin:2% 0% 0% 15%;
}

.galerij .driehoek{
 margin:2% 0% 0% 22%;
}

.videos .driehoek{
 margin:2% 0% 0% 22%;
}

.contact .driehoek{
 margin:2% 0% 0% 20%;
}

.iframeblocker{
 background-color:transparent;
 width:8%;
 height:31%;
 float:right;
 margin: 1% -63% 0% 0%;
}

footer{
 width:101.6%;
 height:10%;
 background-color:black;
 margin:10% 0% 0% -1%;
 float:left;
}

.footerleft{
 float:left;
 height: 100%;
 width: 40%;
 background-color:transparent;
 padding:0% 0% 0% 3%;
}

.footerleft a, .footerleft p, .footerright a, .footerright p {
 color:white;
 text-decoration: none;
}

.footerright{
 float:right;
 height:100%;
 width:40%;
 background-color:transparent;
 padding:0% 3% 0% 0%;
 text-align:right;
}

body{
 background-image: url(/subbestanden/images/cubic.jpg);
 height:800px;
 width:98.8%;
 background-size:cover;
}

.dig_veil_tekst{
  width:70%;
  height:fit-content;
  float:right;
  color:#ffffff;
  background-color:#000000;
  padding:3%;
  border-radius:20px;
  margin:5% 2% 0% 2%;
}

.dig_veil_h1{
  color:#ffffff;
  font-size:300%;
  text-align:center;
  margin:-2% 0% 0% 0%;
}

.navigatiebalk{
  background-color:#000000;
  height:fit-content;
  width:17.5%;
  float:left;
  border-radius:20px;
  margin:2% 2% 0% 2%;
  position:fixed;
  top:24.5%;  
}

.navigatiebalk,.navigatiebalk a{
  color:#ffffff;
  text-decoration:none;
}

table,tr,th{
  border:1px solid white;
  border-collapse:collapse;
  font-weight:normal;
  background-color:#222222;
  width:fit-content;
}

h2,h3{
  margin-bottom:0%
}

.navigatiebalk h3{
  margin:10% 0% 0% 0%;
  text-align:center;
}

html{
  scroll-behavior:smooth;
}

iframe{
  border:0;
  width:104px;
  height:38px;
  background-color:transparent;
}
